extends layout
block content
	include partials/buttonGroup
	.my-4(data-ng-init="setRoute('"+root+"')")
		h1
			span.text-capitalize=root+' '
			span Edit Page
	include partials/alerts
	form.mb-4(data-ng-init="getSingle('"+_id+"',true)",data-ng-submit="updateSingle('"+_id+"')")
		.text-right.pt-3
			button.btn.btn-primary(type='submit',ng-disabled="disabled")
				i.fas.fa-save.mr-2
				span Save
		each field,name in schema.properties
			if field.type=='boolean'
				.form-check.pb-2
					input.form-check-input(type='checkbox',id='form-'+name,data-ng-model="data."+name)
					label.form-check-label.text-capitalize.small.text-secondary(for='form-'+name)=name
			else if name=='email'
				if root=='administrator'
					.form-group
						label.text-capitalize.small.text-secondary(for='form-'+name)=name
						label.form-control(type='email',id='form-'+name,data-ng-bind="data."+name)
						small.form-text.text-info Email field is locked and cannot be changed
				else
					.form-group
						label.text-capitalize.small.text-secondary(for='form-'+name)=name
						input.form-control(type='email',id='form-'+name,data-ng-model="data."+name)
			else if name=='password'
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='password',id='form-'+name,data-ng-model="data."+name,placeholder="Reset / Set new Password")
			else if name=="_id"
				.form-group
					label.text-capitalize.small.text-secondary.mr-1 Permalink:
					a.small.ml-5(href="#",data-ng-bind="permalink()",target="_blank")
			else if name=="updatedAt"||name=="createdAt"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					label.form-control.border-0.font-weight-bold(id='form-'+name,data-ng-bind="data."+name+" | date:'dd-MM-yyyy'")
			else if field.format=="date-time"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='date',id='form-'+name,data-ng-model="data."+name)
			else if field.type=='array'
				if(name=='images')
					input#from-image.d-none(type='file',onchange="angular.element(this).scope().insertImage('"+_id+"')",accept=".png,.jpg,.webp")
					.mx-3.mb-3
						.row.text-left
							.col-12.mb-2
								strong.small.text-secondary Images
							button.btn.col-12.col-sm-6.col-lg-1.border.border-primary.text-center.p-0.m-2(type="button",onclick="document.getElementById('from-image').click()",data-ng-disabled="uploadImageVar.uploading")
								i.font-weight-bold.fas.fa-plus.fa-2x.text-primary.mx-2.mt-5.mb-3
								div.small
									small Add image
								.progress(data-ng-if="uploadImageVar.uploading")
									.progress-bar(role="progressbar",style="width: {{uploadImageVar.per}}",aria-valuenow="{{uploadImageVar.val}}",aria-valuemin="0",aria-valuemax="100")
										.small(data-ng-bind="uploadImageVar.per")
							.col-12.col-sm-6.col-lg-1.border.border-primary.text-center.p-0.m-2(data-ng-repeat="image in data.images")
								.text-right
									button.btn.btn-link.btn-sm.text-danger(type="button",data-ng-click="removeImage(image._id)")
										i.fas.fa-trash-alt
								a(download="{{image.originalname}}",href="/images/"+root+"/"+_id+"/{{image.filename}}")
									picture
										source(type="image/webp",data-ng-srcset="/images/"+root+"/"+_id+"/{{image.webp}}")
										source(type="image/png",data-ng-srcset="/images/"+root+"/"+_id+"/{{image.png}}")
										img.img-fluid(data-ng-src="/images/"+root+"/"+_id+"/{{image.jpg}}")
				else
					.row
						.col-6
							.form-group(data-ng-init="loadAside('"+name+"')")
								label.text-capitalize.small.text-secondary(for='form-'+name)=name
								.input-group
									select.form-control(id='form-'+name,data-ng-model="tmp."+name)
										option(data-ng-repeat="rec in asideData."+name,data-ng-value="rec",selected="selected")
											| {{rec.name}}
											| {{rec.color[0]?' ('+rec.color[0].name+')':''}}
											| {{rec.fabric[0]?' ('+rec.fabric[0].name+')':''}}
									.input-group-append
										button.btn.btn-primary(type="button",data-ng-click="data."+name+"=tmp."+name+"?data."+name+".concat(tmp."+name+"):data."+name) Insert
						.col-6
							.row
								.col.col-lg-3.mb-3(data-ng-repeat="rec in data."+name+"  track by $index")
									.card
										button.btn.btn-sm.btn-link.position-absolute.m-1.mt-4(type="button",data-ng-click="data."+name+".splice($index,1)")
											i.fas.fa-trash-alt.text-danger
										button.btn.btn-sm.btn-link.position-absolute.m-1(type="button",data-ng-click="loadSubdocumentShcemaModal('"+name+"',$index)")
											i.fas.fa-edit.text-primary
										picture(data-ng-if="rec.images&&rec.images.length>0")
											source(type="image/webp",data-ng-srcset="/images/"+name+"/{{rec._id+'/'+rec.images[0].webp}}")
											img.card-img-top.p-2(data-ng-src="/images/"+name+"/{{rec._id+'/'+rec.images[0].filename}}")
										.text-center(data-ng-if="!rec.images||rec.images.length==0")
											i.fas.fa-cubes.fa-3x.mt-4
										.card-body.py-2
											.text-center.small(data-ng-if="rec.code")
												abbr.small.text-muted(data-ng-bind="rec.code",title="{{rec.name}}")
											.text-center.small(data-ng-if="!rec.code",data-ng-bind="rec.name")
			else if field.type=='object'
				.form-group(data-ng-if="data."+name)
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					.input-group
						label.form-control.small.text-secondary(id='form-'+name,data-ng-bind="data."+name+".name")
						.input-group-append
							button.btn.btn-link.btn-sm(type="button",data-ng-click="deleteAsideOnData('"+name+"')")
								i.fas.fa-trash-alt.text-danger.mr-1
								strong.text-danger='Remove '+name
					.border.p-2.my-2
						.row
							.col-10
								.text-left.small(data-ng-if="data."+name+".name")
									strong.mr-1 Name:
									sman(data-ng-bind="data."+name+".name")
								.text-left.small(data-ng-if="data."+name+".color.name")
									strong.mr-1 Color:
									sman(data-ng-bind="data."+name+".color.name")
								.text-left.small(data-ng-if="data."+name+".code")
									strong.mr-1 Code:
									sman(data-ng-bind="data."+name+".code")
							.col-1.text-right
								img.img-fluid(data-ng-if="data."+name+".images&&data."+name+".images[0]",data-ng-src="/images/"+name+"/{{data."+name+"._id}}/{{data."+name+".images[0].webp}}")
							.col-1.text-right
								img.img-fluid(data-ng-if="data."+name+".color&&data."+name+".color.images&&data."+name+".color.images[0]",data-ng-src="/images/color/{{data."+name+".color._id}}/{{data."+name+".color.images[0].webp}}")
				.form-group(data-ng-if="!data."+name,data-ng-init="loadAside('"+name+"')")
					label.text-capitalize.font-weight-bold.text-danger(for='form-'+name)=name+" value is empty Set "+name
					select.form-control(id='form-'+name,data-ng-model="data."+name)
						option
						option(data-ng-if="asideData."+name,data-ng-repeat="temp in asideData."+name,data-ng-value="temp") {{temp.name}}
			else if field.type=='number'
				.row
					.col-12.col-lg-3
						.form-group
							label.text-capitalize.small.text-secondary(for='form-'+name)=name
							.input-group
								input.form-control(type='number',id='form-'+name,data-ng-model="data."+name,min=0,step=".01")
								.input-group-append
									if name=='price'
										strong.ml-2 &euro;
									else
										strong.ml-2 ?
			else if name=="description"||name=="text"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					textarea.form-control(type='text',id='form-'+name,data-ng-model="data."+name,rows=7)
			else
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='text',id='form-'+name,data-ng-model="data."+name)
		.text-right.pt-3
			button.btn.btn-primary(type='submit',ng-disabled="disabled")
				i.fas.fa-save.mr-2
				span Save


	// ##############################################
	// This is the modela for edit sub document
	// ##############################################

	#subDocumentModal.modal(tabindex='-1', role='dialog')
		.modal-dialog.modal-xl(role='document')
			.modal-content
				.modal-header
					h5.modal-title Modal title
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body(data-ng-include="subDocumentPath")
					