extends layout
block content
	include partials/buttonGroup
	.my-4(data-ng-init="setRoute('"+root+"')")
		h1
			span.text-capitalize=root+' '
			span Edit Page
	include partials/alerts
	form.mb-4(data-ng-init="getSingle('"+_id+"',true)",data-ng-submit="updateSingle('"+_id+"')")
		.text-right.pt-3
			button.btn.btn-primary(type='submit',ng-disabled="disabled")
				i.fas.fa-save.mr-2
				span Save
		each field,name in schema.properties
			if field.type=='boolean'
				.form-check.pb-2
					input.form-check-input(type='checkbox',id='form-'+name,data-ng-model="data."+name)
					label.form-check-label.text-capitalize.small.text-secondary(for='form-'+name)=name
			else if name=='email'
				if root=='administrator'
					.form-group
						label.text-capitalize.small.text-secondary(for='form-'+name)=name
						label.form-control(type='email',id='form-'+name,data-ng-bind="data."+name)
						small.form-text.text-info Email field is locked and cannot be changed
				else
					.form-group
						label.text-capitalize.small.text-secondary(for='form-'+name)=name
						input.form-control(type='email',id='form-'+name,data-ng-model="data."+name)
			else if name=='password'
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='password',id='form-'+name,data-ng-model="data."+name,placeholder="Reset / Set new Password")
			else if name=="_id"
				.form-group
					label.text-capitalize.small.text-secondary.mr-1 Permalink:
					a.small.ml-5(href="#",data-ng-bind="permalink()",target="_blank")
			else if name=="updatedAt"||name=="createdAt"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					label.form-control.border-0.font-weight-bold(id='form-'+name,data-ng-bind="data."+name+" | date:'dd-MM-yyyy'")
			else if field.format=="date-time"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='date',id='form-'+name,data-ng-model="data."+name)
			else if field.type=='array'
				if(name=='images')
					input#from-image.d-none(type='file',onchange="angular.element(this).scope().insertImage('"+_id+"')",accept=".png,.jpg,.webp")
					.mx-3.mb-3
						.row.text-left
							.col-12.mb-2
								strong.small.text-secondary Images
							button.btn.col-12.col-sm-6.col-lg-1.border.border-primary.text-center.p-0.m-2(type="button",onclick="document.getElementById('from-image').click()",data-ng-disabled="uploadImageVar.uploading")
								i.font-weight-bold.fas.fa-plus.fa-2x.text-primary.mx-2.mt-5.mb-3
								div.small
									small Add image
								.progress(data-ng-if="uploadImageVar.uploading")
									.progress-bar(role="progressbar",style="width: {{uploadImageVar.per}}",aria-valuenow="{{uploadImageVar.val}}",aria-valuemin="0",aria-valuemax="100")
										.small(data-ng-bind="uploadImageVar.per")
							.col-12.col-sm-6.col-lg-1.border.border-primary.text-center.p-0.m-2(data-ng-repeat="image in data.images")
								.text-right
									button.btn.btn-link.btn-sm.text-danger(type="button",data-ng-click="removeImage(image._id)")
										i.fas.fa-trash-alt
								a(download="{{image.originalname}}",href="/images/"+root+"/"+_id+"/{{image.filename}}")
									picture
										source(type="image/webp",data-ng-srcset="/images/"+root+"/"+_id+"/{{image.webp}}")
										source(type="image/png",data-ng-srcset="/images/"+root+"/"+_id+"/{{image.png}}")
										img.img-fluid(data-ng-src="/images/"+root+"/"+_id+"/{{image.jpg}}")
			else if field.type=='number'
				.row
					.col-12.col-lg-3
						.form-group
							label.text-capitalize.small.text-secondary(for='form-'+name)=name
							.input-group
								input.form-control(type='number',id='form-'+name,data-ng-model="data."+name,min=0,step=".01")
								.input-group-append
									if name=='price'
										strong.ml-2 &euro;
									else
										strong.ml-2 ?
			else if name=="description"||name=="text"
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					textarea.form-control(type='text',id='form-'+name,data-ng-model="data."+name,rows=7)
			else
				.form-group
					label.text-capitalize.small.text-secondary(for='form-'+name)=name
					input.form-control(type='text',id='form-'+name,data-ng-model="data."+name)
		.text-right.pt-3
			button.btn.btn-primary(type='submit',ng-disabled="disabled")
				i.fas.fa-save.mr-2
				span Save